KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

TELEGRAM_TOKEN=
POLKADOT_PRIMARY_KEY=
CONTROLLER_CONTRACT_ID=
NEXT_PUBLIC_CONTROLLER_ACCOUNT_ID=
DISCORD_PUBLIC_KEY=
DISCORD_TOKEN=
DISCORD_APP_ID=
